:root {
  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-0: #5C636F;
  --color-gray-dark-1: #333;
  --color-gray-dark-2: #2C313C;
  --color-gray-dark-3: #282C34;

  --color-pink: #ff00b6;
  --color-magenta: #bc0fe0;
  --color-purple: #8f12fd;
  --color-purple-dark: #32015e;
  --color-blue: #498fe1;
  --color-mint: #4ed5b6;
  --color-green: #50e28b;
  --color-yellow: #f7c61b;

  --padding-side: 16rem;
  --padding-top: 8rem;
  --size-about-photo: 30rem;

  --tablet-large-down: 68.75em;
}


/* 1100px - For tablet large down */
@media (max-width: 75em) {
  :root {
    --padding-side: 10rem;
  }
}

/* 1000px - For tablet medium down */
@media (max-width: 68.75em) {
  :root {
    --size-about-photo: 25rem;
  }
}

/* 900px - For phone large landscape down */
@media (max-width: 56.25em) {
  :root {
    --padding-side: 8rem;
  }
}

/* 700px - For phone medium landscape down */
@media (max-width: 43.75em) {
  :root {
    --padding-top: 6rem;
  }
}

/* 416px - For phone medium down */
@media (max-width: 26em) {
  :root {
    --padding-top: 4.5rem;
    --padding-side: 5rem;
  }
}

/* 360px - For phone small down */
@media (max-width: 23.475em) {
  :root {
    --padding-side: 3.5rem;
  }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-gray-dark-3);
  color: var(--color-gray-light-1);
}

body.blur {
  overflow: hidden;
}

body.blur #root .container .content {
  filter: blur(8px);
  transition: all .3s;
}
